name = "board-app-workers"
main = "dist/index.js"
compatibility_date = "2024-10-01"

[build]
command = "pnpm --filter @board-app/workers build"

[[rules]]
globs = ["**/*.sql"]
type = "Text"
fallthrough = false

[dev]
port = 8788

[triggers]
crons = ["*/15 * * * *"]

[durable_objects]
bindings = [
  { name = "BOARD_ROOM_DO", class_name = "BoardRoomDO" }
]

[[migrations]]
tag = "v0"
new_sqlite_classes = ["BoardRoomDO"]

[[d1_databases]]
binding = "BOARD_DB"
database_name = "board-db"
database_id = "75ac8ef7-8c9d-4246-9508-e454d3dc3a4f"
